/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/rubik-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
  url('./fonts/rubik-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/rubik-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/rubik-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/rubik-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/rubik-v9-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/rubik-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Rubik Italic'), local('Rubik-Italic'),
  url('./fonts/rubik-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/rubik-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/rubik-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('./fonts/rubik-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/rubik-v9-latin-italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/rubik-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Rubik Bold'), local('Rubik-Bold'),
  url('./fonts/rubik-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/rubik-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/rubik-v9-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/rubik-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/rubik-v9-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/rubik-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
  url('./fonts/rubik-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/rubik-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/rubik-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('./fonts/rubik-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/rubik-v9-latin-700italic.svg#Rubik') format('svg'); /* Legacy iOS */
}