@import "fonts";
@import "_mixins/transition";

body {
  font-size: 16px;
  position: relative;
  line-height: 1.4;
  font-family: 'Rubik';
  overflow-x: hidden;
  color: #000000;
}

article,
header,
main {
  display: block;
}

a {
  @include transition();
}

.container {
  width: 1030px;
  padding: 15px;
  max-width: 100%;
  margin: auto;
}

.pagination {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination li:not(.next):not(.previous) a {
  padding: 15px;
  display: block;
}

.pagination .next {
  justify-self: end;
}

.pagination .previous {
  justify-self: start;
}
