.homepage-background {
  padding: 100px 0 200px;

  &__content {
    max-width: 420px;
    color: #fff;
  }

  &__title {
    font-size: 44px;
    line-height: 48px;
  }

  &__content {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
  }

  &__description {
    opacity: 0.85;
  }

  &__quote {
    font-style: italic;
    font-weight: 900;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 40px;
  }

  &__author {
    display: flex;

    &--photo {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &--name {
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
    }

    &--position {
      font-size: 15px;
      line-height: 20px;
      opacity: 0.85;
    }
  }

}

.gray_line {
  margin: 20px 0;
  height: 1px;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
}