.main-navigation {
  height: calc(100% - 174px);
  background: #40A0A6;
  padding: 55px 0 45px;

  ul {
    list-style: none;
  }

  a {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
    color: #fff;
    padding: 15px 50px;
    background-color: transparent;

    &:hover {
      background-color: #46AAB0;
    }
  }
}